<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.spring_boot_shiro.dao.UserDao">
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id" >
        insert into t_user values(#{id},#{userName},#{passWord},#{salt})
    </insert>
    <select id="findByUserName" resultType="com.stu.spring_boot_shiro.entity.User">
        select * from t_user where userName = #{userName}
    </select>

    <resultMap id="userMap" type="User">
        <id column="uid" property="id"/>
        <!-- 角色信息-->
        <collection property="roles" javaType="list" ofType="Role">
            <id column="id" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>


    <select id="findRolesByUserName" resultMap="userMap" parameterType="String">
        SELECT
            u.id uid,
            r.id,
            r.name rname
        FROM
            t_user u
                LEFT JOIN t_user_role ur ON u.id = ur.user_id
                LEFT JOIN t_role r ON ur.role_id = r.id
        WHERE
            u.userName = #{userName}
    </select>
    <select id="findPermissionByRoleId" resultType="com.stu.spring_boot_shiro.entity.Perms">
        SELECT
            p.id,
            p.`name`,
            p.url,
            r.`name`
        FROM
            t_role r
                LEFT JOIN t_role_perms rp ON r.id = rp.role_id
                LEFT JOIN t_pers p ON p.id = rp.permis_id
        WHERE
            r.id = #{id}
    </select>
</mapper>
